html {
    background: url(./img/white_paper_texture_background_seamless_pattern.jpg);
}

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: transparent;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#logo {
    width: 150px;
    font-weight: bold;
    font-family: -webkit-body;
    font-size: x-large;
}

.nav > li > a, .nav > li > .btn {
    font-weight: bold;
}

.nav li {
    margin-right: 10px;
}

    .nav li i.t-icon {
        margin-right: 5px;
    }

i.t-icon.i-student {
    background: url(./img/student.png) no-repeat;
}

i.t-icon.i-teachers {
    background: url(./img/teachers.png) no-repeat;
}

i.t-icon.i-tests {
    background: url(./img/tests.png) no-repeat;
}

i.t-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

.btn.oval {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px;
}

    .container:before, .container:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .container:after {
        clear: both;
    }

    .container:before, .container:after {
        display: table;
        content: "";
        line-height: 0;
    }

#container {
    width: 960px;
    height: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    overflow: hidden;
}

    #container.wrapper {
        position: relative;
        background: rgba(255, 255, 255, 0.3);
        padding: 20px 20px 1px 20px;
        -webkit-box-shadow: inset rgba(0, 0, 0, 0.3) 0 1px 2px;
        -moz-box-shadow: inset rgba(0, 0, 0, 0.3) 0 1px 2px;
        box-shadow: inset rgba(0, 0, 0, 0.3) 0 1px 2px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
    }

#test-header {
    background-color: rgb(130, 155, 205);
    color: white;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
}

    #test-header > div {
        float: left;
    }

        #test-header > div.test-date-time {
            width: 74px;
            max-width: 74px;
            margin-top: 8px;
            padding: 3px;
            text-align: center;
            white-space: nowrap;
        }

        #test-header > div.spacer {
            margin: 6px 6px 6px 0px;
        }

#test-title {
    width: 538px;
    padding: 5px;
    margin: 6px;
    font-size: 16px;
}

[contenteditable=true]:hover {
    outline: 1px dashed #c69c6d;
}
