@{
    ViewBag.Title = "Index";
}
@section additionheader{
    <link href="~/Bootstrap/css/register.css" rel="stylesheet" />

}
<div class="header">
    <a id="logo" class="logo" href="#">OATS</a>
</div>
<div id="signup-login-container">
    <div id="signup-container">
        @Html.Partial("P_SignUp_Container")
    </div>
    <div id="login-container">
        <h3 class="login-title">Login</h3>
        <div class="border">
            <input type="text" id="email" class="login-textbox" placeholder="Email Address" required="">
            <input type="checkbox" id="remember-checkbox" class="remember-checkbox">
            <span>Remember</span>
            <br/>
            <input type="password" id="password" class="login-textbox" placeholder="Password" required="">
            <input type="button" id="login-btn" class="login-btn btn" value="LOGIN">
            <br />
            <a href="#" class="forgot">Forgot Password?</a>
        </div>
    </div>
</div>
