@model OATS_Capstone.Models.AuthenticationSessionModel
@{
    var userInfo = Model.User;
}
<div id="popup-profile" class="modal hide fade in">
    <div class="modal-header">
        <div class="modal-title">My Profile</div>
        <div class="nt-modal-message alert alert-info nt-hidden"></div>
    </div>

    <div class="modal-body">
        <div class="form-horizontal nt-form-horizontal nt-form-horizontal-narrow">

            <!-- User First Name -->
            <div class="control-group">
                <label class="control-label nt-title">FirstName</label>
                <div class="controls">
                    <input type="text" id="userFirstName" value="@userInfo.FirstName" class="nt-input-inspect" />
                    <p id="userFirstNameMsg" class="help-inline hide">
                        <i class="icon-ok"></i>
                        <span></span>
                    </p>
                </div>

            </div>
            <!-- User Last Name -->
            <div class="control-group">
                <label class="control-label nt-title">LastName</label>
                <div class="controls">
                    <input type="text" id="userLastName" value="@userInfo.LastName" class="nt-input-inspect" />
                    <p id="userLastNameMsg" class="help-inline hide">
                        <i class="icon-ok"></i>
                        <span></span>
                    </p>
                </div>
            </div>
            <!-- User Email -->
            <div class="control-group">
                <label class="control-label nt-title">Email Address</label>
                <div class="controls">
                    <input type="text" id="userEmail" class="nt-input-inspect" value="@userInfo.UserMail"/>
                    <p id="userEmailMsg" class="help-inline hide">
                        <i class="icon-ok"></i>
                        <span></span>
                    </p>
                </div>
            </div>

            <!-- Login method checkboxes -->

            <!-- Passwords -->
            <div class="nt-control-group-cont-float nt-pwdchange">
                <div class="control-group">
                    <label class="control-label nt-title">Current Password</label>
                    <div class="controls">
                        <input type="password" id="userOldPwd" class="nt-input-inspect" />
                        <p id="userOldPwdMsg" class="help-inline hide">
                            <i class="icon-ok"></i>
                            <span></span>
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label nt-title">New Password</label>
                    <div class="controls">
                        <input type="password" id="userPwd" class="nt-input-inspect"  disabled="disabled" />
                        <p id="userPwdMsg" class="help-inline hide">
                            <i class="icon-ok"></i>
                            <span></span>
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label nt-title">Repeat Password</label>
                    <div class="controls">
                        <input type="password" id="userConfPwd" class="nt-input-inspect" disabled="disabled" />
                        <p id="userConfPwdMsg" class="help-inline hide">
                            <i class="icon-ok"></i>
                            <span></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <!-- Tags -->
            <div class="control-group nt-control-group-cont-float">
                <label class="control-label nt-title">Tags</label>
                <div class="controls">
                    <div id="userTags" class="nt-tags">
                        <div class="nt-tag">
                            <span>SAMPLE</span>
                            <i class="icon-remove-sign icon-white nt-tag-remove"></i>
                        </div>
                        <div class="nt-tag">
                            <span>Statue</span>
                            <i class="icon-remove-sign icon-white nt-tag-remove"></i>
                        </div>
                        <div class="nt-tag-adder">
                            <input type="text" class="input-small nt-as-input" placeholder="Add Tag..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="nt-btn-danger nt-del-btn hide">Delete</button>
        <button class="nt-btn-submit nt-add-btn hide">Add</button>
        <button class="nt-btn-submit nt-save-btn">Save</button>
        <button class="nt-btn-dark nt-cancel-btn " data-dismiss="modal">Cancel</button>
    </div>
</div>
