@{
    ViewBag.Title = "DetailRegister";
}

@section additionheader{
    <link href="~/Bootstrap/css/register.css" rel="stylesheet" />
}

<div class="header">
    <a id="logo" class="logo" href="#">OATS</a>
</div>
<div id="signup-login-container">
   <div class="register-container">
        <h3 class="login-title">Account</h3>
        <div class="border">
            <input type="text" class="login-textbox" placeholder="Email Address" required=""/>
            <br/>
            <input type="password" class="login-textbox" placeholder="Password" required=""/>
            <br />
            <input type="password" class="login-textbox" placeholder="Re-Password" required=""/>
            <br />
            <input type="button" class="login-btn btn" value="LOGIN"/>
        </div>
    </div>
</div>

