  <h3 class="signup-title">Signup</h3>

        <label><span class="required">*</span>Name :</label>
        <input id="reg-name" class="register-input" type="text" placeholder="*" required=""><br>

        <label><span class="required">*</span>Email :</label>
        <input id="reg-email" class="register-input" type="email" placeholder="*" required=""><br>

        <label><span class="required">*</span>Password :</label>
        <input id="reg-password" class="register-input" type="password" placeholder="*" required=""><br>
        <label><span class="required">*</span>Re-password :</label>
        <input id="reg-repassword" class="register-input" type="password" placeholder="*" required=""><br>


        <label>Phone number :</label>
        <input id="reg-phone" class="register-input" type="tel"><br>
        <label>Country :</label>
        <input id="reg-country" class="register-input" type="text"><br>
        <br>

        <input id="reg-understand" class="register-checkbox" type="checkbox" unchecked="">
        <span class="reg-understand-text">I have read and understand the policy.</span>

        <input id="submit-btn" class="submit-btn btn" type="button" value="CREATE ACCOUNT">