@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/UserMailer/_Layout.cshtml";
}
    <h2>OATS Getting Forgot Password</h2>
    <div>
        <p>Dear @ViewBag.Mail,</p>
        <p>You received this email because you forgot password and want to reset your password.</p>
        <p>Please follow this link <a href="@ViewBag.Link">@ViewBag.Link</a>  and enter your new password to continue access in Online Analysis and Testing System.</p>
        <p>Thanks and best regard,</p>
        <p>Admin of OATS.</p>
    </div>