@{
    ViewBag.Title = "NewTest_ResponseTab";
}

<h2>NewTest_ResponseTab</h2>
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a id="logo" class="brand" href="#">OATS</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                    <li class="active"><a href="@Url.Action("Index", "Tests")"><i class="t-icon i-tests"></i>Tests</a></li>
                    <li><a href="@Url.Action("Index", "Teachers")"><i class="t-icon i-teachers"></i>Teachers</a></li>
                    <li><a href="@Url.Action("Index", "Students")"><i class="t-icon i-student"></i>Students</a></li>
                    <li>
                        <button class="btn oval" onclick="window.location='@Url.Action("NewTest")'">New</button></li>
                </ul>

                <ul class="nav pull-right">
                    <li>
                        <div class="navbar-search pull-left">
                            <input type="text" class="search-query span2" placeholder="Search Tests">
                        </div>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="t-icon icon-user"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Name</li>
                            <li class="divider"></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<div id="container" class="container wrapper">
    <div id="test-header">
        <div contenteditable="true" id="test-title">Enter Test Title</div>
        <div id="eventDateFrom" class="test-date-time" contenteditable="true">8 May 2013</div>
        <div id="eventTimeFrom" class="test-date-time" contenteditable="true">4:00 pm</div>
        <div class="spacer">_</div>
        <div id="eventDateTo" class="test-date-time" contenteditable="true">8 May 2013</div>
        <div id="eventTimeTo" class="test-date-time" contenteditable="true">6:00 pm</div>
    </div>
    <div class="test-outer-tags">
        <div class="test-tags">
            <input type="text" class="input-small nt-guide ac_input" data-guide="add_tag" placeholder="Add Tag..." autocomplete="off">
        </div>
    </div>
    <div class="tabs-wrapper">
        <div class="navbar">
            <div class="navbar-inner test-larger-custom">
                <ul class="nav">
                    <li class="active"><a href="#">Content</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Response</a></li>
                    <li><a href="#">Score</a></li>
                </ul>
            </div>
        </div>
  <div id="eventTab"><div id="sidebar">
  <div style="" class="nt-acc-content" id="learners"><div class="nt-ctrl-search ui-droppable nt-guide"><div class="nt-search-box">
  <input type="text" placeholder="Search" class="nt-search-input ">
  <i class="nt-icon search"></i>


  <button class="nt-btn-icon nt-btn-clear " style="display: none;">
    <i class="icon-remove-sign"></i>
  </button>
</div>
<div class="nt-ctrl-search-tags nt-taglist"></div>
</div>
<div class="nt-ctrl-list"><div class="nt-ctrl-line"></div>
<div class="nt-clb-header">
  <div class="nt-clb-header-control">
    <input type="checkbox" class="nt-ctrl-all nt-guide" data-guide="resp_selall_chkbox">
  </div>
  <div class="nt-clb-header-content">
    <div class="nt-clb-header-label" data-sort-attr="name">
      <span>Student</span>
      <button class="nt-btn-circle-mini nt-sort-desc nt-guide" data-guide="resp_stud_down"><i class="icon-caret-down"></i></button>
      <button class="nt-btn-circle-mini nt-sort-asc active nt-guide" data-guide="resp_stud_up"><i class="icon-caret-up"></i></button>
    </div>
    <div class="nt-clb-header-desc" data-sort-attr="_score">
      <span class="nt-guide" data-guide="resp_score_title" data-original-title="Show Points">Score</span>
      <button class="nt-btn-circle-mini nt-sort-desc nt-guide" data-guide="resp_score_down"><i class="icon-caret-down"></i></button>
      <button class="nt-btn-circle-mini nt-sort-asc nt-guide" data-guide="resp_score_up"><i class="icon-caret-up"></i></button>
    </div>
  </div>
</div>
<div class="nt-ctrl-line"></div>
<div id="respUsers" style="max-height: 234px; overflow-y: auto;"><div class="nt-clb-item nt-clb-item-multi nt-clb-item-sel" id="087354383c404e04b097e582bf2bed9e"><div class="nt-clb-item-control nt-guide" data-guide="resp_stud_chkbox">
  <input type="checkbox" checked="checked">
</div>
<div class="nt-clb-item-content nt-guide" data-guide="resp_stud_line" data-original-title="akai777@gmail.com">
  <div class="nt-clb-item-label">(E) <span class="nt-hl-sort">haima24</span></div>
  <div class="nt-clb-item-desc">13%</div>
</div>
</div><div class="nt-clb-item nt-clb-item-multi" id="720c7cc797734ba2b7d6ee2c003eb448"><div class="nt-clb-item-control nt-guide" data-guide="resp_stud_chkbox">
  <input type="checkbox">
</div>
<div class="nt-clb-item-content nt-guide" data-guide="resp_stud_line" data-original-title="a@nomail.terascore.com">
  <div class="nt-clb-item-label">Sample Student <span class="nt-hl-sort">{A}</span></div>
  <div class="nt-clb-item-desc">88%</div>
</div>
</div><div class="nt-clb-item nt-clb-item-multi" id="5d5761fb6ab34d5abc8fcdf33a095d12"><div class="nt-clb-item-control nt-guide" data-guide="resp_stud_chkbox">
  <input type="checkbox">
</div>
<div class="nt-clb-item-content nt-guide" data-guide="resp_stud_line" data-original-title="b@nomail.terascore.com">
  <div class="nt-clb-item-label">Sample Student <span class="nt-hl-sort">{B}</span></div>
  <div class="nt-clb-item-desc">94%</div>
</div>
</div><div class="nt-clb-item nt-clb-item-multi" id="8c72394931d64f44abab763dd83e21b7"><div class="nt-clb-item-control nt-guide" data-guide="resp_stud_chkbox">
  <input type="checkbox">
</div>
<div class="nt-clb-item-content nt-guide" data-guide="resp_stud_line" data-original-title="c@nomail.terascore.com">
  <div class="nt-clb-item-label">Sample Student <span class="nt-hl-sort">{C}</span></div>
  <div class="nt-clb-item-desc">63%</div>
</div>
</div><div class="nt-clb-item nt-clb-item-multi" id="05712696e3a54bd4a61dc9e9fbf7aef6"><div class="nt-clb-item-control nt-guide" data-guide="resp_stud_chkbox">
  <input type="checkbox">
</div>
<div class="nt-clb-item-content nt-guide" data-guide="resp_stud_line" data-original-title="d@nomail.terascore.com">
  <div class="nt-clb-item-label">Sample Student <span class="nt-hl-sort">{D}</span></div>
  <div class="nt-clb-item-desc">75%</div>
</div>
</div><div class="nt-clb-item nt-clb-item-multi" id="62a8c62e551c4508a2ce75d6254bab57"><div class="nt-clb-item-control nt-guide" data-guide="resp_stud_chkbox">
  <input type="checkbox">
</div>
<div class="nt-clb-item-content nt-guide" data-guide="resp_stud_line" data-original-title="e@nomail.terascore.com">
  <div class="nt-clb-item-label">Sample Student <span class="nt-hl-sort">{E}</span></div>
  <div class="nt-clb-item-desc">100%</div>
</div>
</div><div class="nt-clb-item nt-clb-item-multi" id="669c26d0763649de87811a285fa06e35"><div class="nt-clb-item-control nt-guide" data-guide="resp_stud_chkbox">
  <input type="checkbox">
</div>
<div class="nt-clb-item-content nt-guide" data-guide="resp_stud_line" data-original-title="f@nomail.terascore.com">
  <div class="nt-clb-item-label">Sample Student <span class="nt-hl-sort">{F}</span></div>
  <div class="nt-clb-item-desc">25%</div>
</div>
</div><div class="nt-clb-item nt-clb-item-multi" id="6fd0fa31e2504e93884c16cb7eb76223"><div class="nt-clb-item-control nt-guide" data-guide="resp_stud_chkbox">
  <input type="checkbox">
</div>
<div class="nt-clb-item-content nt-guide" data-guide="resp_stud_line" data-original-title="g@nomail.terascore.com">
  <div class="nt-clb-item-label">Sample Student <span class="nt-hl-sort">{G}</span></div>
  <div class="nt-clb-item-desc">81%</div>
</div>
</div><div class="nt-clb-item nt-clb-item-multi" id="0c2f047b1432412d85b92476040f4b47"><div class="nt-clb-item-control nt-guide" data-guide="resp_stud_chkbox">
  <input type="checkbox">
</div>
<div class="nt-clb-item-content nt-guide" data-guide="resp_stud_line" data-original-title="h@nomail.terascore.com">
  <div class="nt-clb-item-label">Sample Student <span class="nt-hl-sort">{H}</span></div>
  <div class="nt-clb-item-desc">88%</div>
</div>
</div><div class="nt-clb-item nt-clb-item-multi" id="52a4eae9ba4649818d2bc0bcd3e5921a"><div class="nt-clb-item-control nt-guide" data-guide="resp_stud_chkbox">
  <input type="checkbox">
</div>
<div class="nt-clb-item-content nt-guide" data-guide="resp_stud_line" data-original-title="i@nomail.terascore.com">
  <div class="nt-clb-item-label">Sample Student <span class="nt-hl-sort">{I}</span></div>
  <div class="nt-clb-item-desc">50%</div>
</div>
</div><div class="nt-clb-item nt-clb-item-multi" id="d16627173fa146d08c95414466bd0b94"><div class="nt-clb-item-control nt-guide" data-guide="resp_stud_chkbox">
  <input type="checkbox">
</div>
<div class="nt-clb-item-content nt-guide" data-guide="resp_stud_line" data-original-title="j@nomail.terascore.com">
  <div class="nt-clb-item-label">Sample Student <span class="nt-hl-sort">{J}</span></div>
  <div class="nt-clb-item-desc">81%</div>
</div>
</div><div class="nt-clb-item nt-clb-item-multi" id="9db918b0b64641fdb5c0ec52f7f38642"><div class="nt-clb-item-control nt-guide" data-guide="resp_stud_chkbox">
  <input type="checkbox">
</div>
<div class="nt-clb-item-content nt-guide" data-guide="resp_stud_line" data-original-title="k@nomail.terascore.com">
  <div class="nt-clb-item-label">Sample Student <span class="nt-hl-sort">{K}</span></div>
  <div class="nt-clb-item-desc">69%</div>
</div>
</div></div>
</div>
</div>
</div>
<div>
  <div class="nt-checklist-ctrl">
    <div class="nt-msg">Submitted on 13 May 2013 7:30 pm</div>
    <button id="btnEdit" class="nt-btn-dark" style="display: none;">Edit</button>
    <button id="btnDone" class="nt-btn-dark" style="display: none;">Done</button>
    <button id="btnDel" class="nt-btn-dark nt-guide" data-guide="resp_remove_btn" style="display: inline-block;">Remove</button>
    <button id="btnSubmit" class="nt-btn-submit nt-guide" data-guide="resp_submit_btn" style="display: none;">Submit</button>
  </div>
  <div id="checklist" style="height: 293px; overflow-y: auto;"><div class="nt-qitem nt-qitem-review" id="53e108267152443bb81c1c48ac36b55c"><div class="nt-qnum ">1.</div>
<a class="nt-qanchor" name="Q1"></a>
<!-- NOT isImg START -->


<div class="nt-qtext " id="text_53e108267152443bb81c1c48ac36b55c">

    The Statue of Liberty was a gift from which country?
</div>

<!-- NOT isImg END -->

<!-- isImg START -->
<!-- isImg END -->

<div class="nt-qhctrls">


  <label class="checkbox nt-guide" data-guide="resp_scored"><input class="nt-scored" type="checkbox" checked="checked">Scored</label>

</div>

<div class="nt-qanscont nt-sortable"><div class="nt-qans nt-qans-hover nt-readonly" id="c1051"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1051" name="ans_c1050" value="0" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">England</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1052"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1052" name="ans_c1050" value="1" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">France</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts">1 pt</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab" style="background-color: green;opacity: 1"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1053"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1053" name="ans_c1050" value="2" class="nt-guide" data-guide="resp_ans_btn" disabled="" checked="checked">
  <div class="nt-qansdesc">Canada</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style=""><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div></div>


<div class="nt-qfoot">


  <div class="nt-qrep" style="display: none;">
    <span>Correct:</span><span class="nt-crate">-</span>
    <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs">-</span>
  </div>

  <button class="nt-btn-text nt-qcomm-toggle nt-guide" data-guide="resp_comment_btn" style="">Comment</button>

  <div class="nt-qoepts" style="">
    <span>Points:</span>
      <span class="nt-pts">0</span>
    <span>out of 1 pt</span>
    <span class="nt-ok nt-guide" data-guide="resp_oe_pts_ok"><i class="icon-ok"></i></span>
    <span class="nt-hl-words-warn" data-original-title="Some correct words cannot be highlighted!"><i class="icon-warning-sign"></i></span>
  </div>



</div>

<div class="nt-qcomm">
  <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
</div>
</div><div class="nt-qitem nt-qitem-review" id="19e33bf0bb77481b92a90971e3de7d53"><div class="nt-qnum ">2.</div>
<a class="nt-qanchor" name="Q2"></a>
<!-- NOT isImg START -->


<div class="nt-qtext " id="text_19e33bf0bb77481b92a90971e3de7d53">

    What was referred to as the Second War for Independence?
</div>

<!-- NOT isImg END -->

<!-- isImg START -->
<!-- isImg END -->

<div class="nt-qhctrls">


  <label class="checkbox nt-guide" data-guide="resp_scored"><input class="nt-scored" type="checkbox" checked="checked">Scored</label>

</div>

<div class="nt-qanscont nt-sortable"><div class="nt-qans nt-qans-hover nt-readonly" id="c1055"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1055" name="ans_c1054" value="0" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">The French and Indian War</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1056"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1056" name="ans_c1054" value="1" class="nt-guide" data-guide="resp_ans_btn" disabled="" checked="checked">
  <div class="nt-qansdesc">The Civil War</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style=""><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1057"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1057" name="ans_c1054" value="2" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">The War of 1812</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts">1 pt</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab" style="background-color: green;opacity: 1"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div></div>


<div class="nt-qfoot">


  <div class="nt-qrep" style="display: none;">
    <span>Correct:</span><span class="nt-crate">-</span>
    <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs">-</span>
  </div>

  <button class="nt-btn-text nt-qcomm-toggle nt-guide" data-guide="resp_comment_btn" style="">Comment</button>

  <div class="nt-qoepts" style="">
    <span>Points:</span>
      <span class="nt-pts">0</span>
    <span>out of 1 pt</span>
    <span class="nt-ok nt-guide" data-guide="resp_oe_pts_ok"><i class="icon-ok"></i></span>
    <span class="nt-hl-words-warn" data-original-title="Some correct words cannot be highlighted!"><i class="icon-warning-sign"></i></span>
  </div>



</div>

<div class="nt-qcomm">
  <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
</div>
</div><div class="nt-qitem nt-qitem-review" id="ba24ed8aa4d441b6a039bbffec14dee7"><div class="nt-qnum ">3.</div>
<a class="nt-qanchor" name="Q3"></a>
<!-- NOT isImg START -->


<div class="nt-qtext " id="text_ba24ed8aa4d441b6a039bbffec14dee7">

    What is the "day that will live in infamy"?
</div>

<!-- NOT isImg END -->

<!-- isImg START -->
<!-- isImg END -->

<div class="nt-qhctrls">


  <label class="checkbox nt-guide" data-guide="resp_scored"><input class="nt-scored" type="checkbox" checked="checked">Scored</label>

</div>

<div class="nt-qanscont nt-sortable"><div class="nt-qans nt-qans-hover nt-readonly" id="c1059"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1059" name="ans_c1058" value="0" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">the day of the 9/11 attacks</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1060"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1060" name="ans_c1058" value="1" class="nt-guide" data-guide="resp_ans_btn" disabled="" checked="checked">
  <div class="nt-qansdesc">the day of the attack on Pearl Harbor</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style=""><i class="icon-ok-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts">1 pt</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab" style="background-color: green;opacity: 1"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1061"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1061" name="ans_c1058" value="2" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">D-Day</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div></div>


<div class="nt-qfoot">


  <div class="nt-qrep" style="display: none;">
    <span>Correct:</span><span class="nt-crate">-</span>
    <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs">-</span>
  </div>

  <button class="nt-btn-text nt-qcomm-toggle nt-guide" data-guide="resp_comment_btn" style="">Comment</button>

  <div class="nt-qoepts" style="">
    <span>Points:</span>
      <span class="nt-pts">1</span>
    <span>out of 1 pt</span>
    <span class="nt-ok nt-guide" data-guide="resp_oe_pts_ok"><i class="icon-ok"></i></span>
    <span class="nt-hl-words-warn" data-original-title="Some correct words cannot be highlighted!"><i class="icon-warning-sign"></i></span>
  </div>



</div>

<div class="nt-qcomm">
  <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
</div>
</div><div class="nt-qitem nt-qitem-review" id="bca9ccee5dfc4b699677cc84d2ca7748"><div class="nt-qnum ">4.</div>
<a class="nt-qanchor" name="Q4"></a>
<!-- NOT isImg START -->


<div class="nt-qtext " id="text_bca9ccee5dfc4b699677cc84d2ca7748">

    Who was president during the Louisiana Purchase?
</div>

<!-- NOT isImg END -->

<!-- isImg START -->
<!-- isImg END -->

<div class="nt-qhctrls">


  <label class="checkbox nt-guide" data-guide="resp_scored"><input class="nt-scored" type="checkbox" checked="checked">Scored</label>

</div>

<div class="nt-qanscont nt-sortable"><div class="nt-qans nt-qans-hover nt-readonly" id="c1063"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1063" name="ans_c1062" value="0" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">James Monroe</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1064"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1064" name="ans_c1062" value="1" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">Thomas Jefferson</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts">1 pt</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab" style="background-color: green;opacity: 1"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1065"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1065" name="ans_c1062" value="2" class="nt-guide" data-guide="resp_ans_btn" disabled="" checked="checked">
  <div class="nt-qansdesc">Andrew Jackson</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style=""><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div></div>


<div class="nt-qfoot">


  <div class="nt-qrep" style="display: none;">
    <span>Correct:</span><span class="nt-crate">-</span>
    <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs">-</span>
  </div>

  <button class="nt-btn-text nt-qcomm-toggle nt-guide" data-guide="resp_comment_btn" style="">Comment</button>

  <div class="nt-qoepts" style="">
    <span>Points:</span>
      <span class="nt-pts">0</span>
    <span>out of 1 pt</span>
    <span class="nt-ok nt-guide" data-guide="resp_oe_pts_ok"><i class="icon-ok"></i></span>
    <span class="nt-hl-words-warn" data-original-title="Some correct words cannot be highlighted!"><i class="icon-warning-sign"></i></span>
  </div>



</div>

<div class="nt-qcomm">
  <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
</div>
</div><div class="nt-qitem nt-qitem-review" id="f7dbe9337d094e99aa2c9cb207e9c92a"><div class="nt-qnum ">5.</div>
<a class="nt-qanchor" name="Q5"></a>
<!-- NOT isImg START -->


<div class="nt-qtext " id="text_f7dbe9337d094e99aa2c9cb207e9c92a">

    What was the bloodiest war in U.S. history?
</div>

<!-- NOT isImg END -->

<!-- isImg START -->
<!-- isImg END -->

<div class="nt-qhctrls">


  <label class="checkbox nt-guide" data-guide="resp_scored"><input class="nt-scored" type="checkbox" checked="checked">Scored</label>

</div>

<div class="nt-qanscont nt-sortable"><div class="nt-qans nt-qans-hover nt-readonly" id="c1067"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1067" name="ans_c1066" value="0" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">The Civil War</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts">1 pt</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab" style="background-color: green;opacity: 1"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1068"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1068" name="ans_c1066" value="1" class="nt-guide" data-guide="resp_ans_btn" disabled="" checked="checked">
  <div class="nt-qansdesc">World War II</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style=""><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1069"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1069" name="ans_c1066" value="2" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">The Vietnam war</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div></div>


<div class="nt-qfoot">


  <div class="nt-qrep" style="display: none;">
    <span>Correct:</span><span class="nt-crate">-</span>
    <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs">-</span>
  </div>

  <button class="nt-btn-text nt-qcomm-toggle nt-guide" data-guide="resp_comment_btn" style="">Comment</button>

  <div class="nt-qoepts" style="">
    <span>Points:</span>
      <span class="nt-pts">0</span>
    <span>out of 1 pt</span>
    <span class="nt-ok nt-guide" data-guide="resp_oe_pts_ok"><i class="icon-ok"></i></span>
    <span class="nt-hl-words-warn" data-original-title="Some correct words cannot be highlighted!"><i class="icon-warning-sign"></i></span>
  </div>



</div>

<div class="nt-qcomm">
  <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
</div>
</div><div class="nt-qitem nt-qitem-review" id="beb81cc5c42d4e87adc675507dff2844"><div class="nt-qnum ">6.</div>
<a class="nt-qanchor" name="Q6"></a>
<!-- NOT isImg START -->


<div class="nt-qtext " id="text_beb81cc5c42d4e87adc675507dff2844">

    What year did the U.S. enter World War I?
</div>

<!-- NOT isImg END -->

<!-- isImg START -->
<!-- isImg END -->

<div class="nt-qhctrls">


  <label class="checkbox nt-guide" data-guide="resp_scored"><input class="nt-scored" type="checkbox" checked="checked">Scored</label>

</div>

<div class="nt-qanscont nt-sortable"><div class="nt-qans nt-qans-hover nt-readonly" id="c1071"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1071" name="ans_c1070" value="0" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">1915</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1072"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1072" name="ans_c1070" value="1" class="nt-guide" data-guide="resp_ans_btn" disabled="" checked="checked">
  <div class="nt-qansdesc">1916</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style=""><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1073"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1073" name="ans_c1070" value="2" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">1917</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts">2 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab" style="background-color: green;opacity: 1"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div></div>


<div class="nt-qfoot">


  <div class="nt-qrep" style="display: none;">
    <span>Correct:</span><span class="nt-crate">-</span>
    <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs">-</span>
  </div>

  <button class="nt-btn-text nt-qcomm-toggle nt-guide" data-guide="resp_comment_btn" style="">Comment</button>

  <div class="nt-qoepts" style="">
    <span>Points:</span>
      <span class="nt-pts">0</span>
    <span>out of 2 pts</span>
    <span class="nt-ok nt-guide" data-guide="resp_oe_pts_ok"><i class="icon-ok"></i></span>
    <span class="nt-hl-words-warn" data-original-title="Some correct words cannot be highlighted!"><i class="icon-warning-sign"></i></span>
  </div>



</div>

<div class="nt-qcomm">
  <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
</div>
</div><div class="nt-qitem nt-qitem-review" id="8af84669933d411d83b4b80367442208"><div class="nt-qnum ">7.</div>
<a class="nt-qanchor" name="Q7"></a>
<!-- NOT isImg START -->


<div class="nt-qtext " id="text_8af84669933d411d83b4b80367442208">

    Which of the following Constitutional Amendments was eventually repealed?
</div>

<!-- NOT isImg END -->

<!-- isImg START -->
<!-- isImg END -->

<div class="nt-qhctrls">


  <label class="checkbox nt-guide" data-guide="resp_scored"><input class="nt-scored" type="checkbox" checked="checked">Scored</label>

</div>

<div class="nt-qanscont nt-sortable"><div class="nt-qans nt-qans-hover nt-readonly" id="c1075"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1075" name="ans_c1074" value="0" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">16th</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1076"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1076" name="ans_c1074" value="1" class="nt-guide" data-guide="resp_ans_btn" disabled="" checked="checked">
  <div class="nt-qansdesc">17th</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style=""><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1077"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1077" name="ans_c1074" value="2" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">18th</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts">3 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab" style="background-color: green;opacity: 1"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div></div>


<div class="nt-qfoot">


  <div class="nt-qrep" style="display: none;">
    <span>Correct:</span><span class="nt-crate">-</span>
    <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs">-</span>
  </div>

  <button class="nt-btn-text nt-qcomm-toggle nt-guide" data-guide="resp_comment_btn" style="">Comment</button>

  <div class="nt-qoepts" style="">
    <span>Points:</span>
      <span class="nt-pts">0</span>
    <span>out of 3 pts</span>
    <span class="nt-ok nt-guide" data-guide="resp_oe_pts_ok"><i class="icon-ok"></i></span>
    <span class="nt-hl-words-warn" data-original-title="Some correct words cannot be highlighted!"><i class="icon-warning-sign"></i></span>
  </div>



</div>

<div class="nt-qcomm">
  <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
</div>
</div><div class="nt-qitem nt-qitem-review" id="bf4c7f7b826a4bdfb5c09f9c413e3893"><div class="nt-qnum ">8.</div>
<a class="nt-qanchor" name="Q8"></a>
<!-- NOT isImg START -->


<div class="nt-qtext " id="text_bf4c7f7b826a4bdfb5c09f9c413e3893">

    In what year did the Boston Tea Party take place?
</div>

<!-- NOT isImg END -->

<!-- isImg START -->
<!-- isImg END -->

<div class="nt-qhctrls">


  <label class="checkbox nt-guide" data-guide="resp_scored"><input class="nt-scored" type="checkbox" checked="checked">Scored</label>

</div>

<div class="nt-qanscont nt-sortable"><div class="nt-qans nt-qans-hover nt-readonly" id="c1079"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1079" name="ans_c1078" value="0" class="nt-guide" data-guide="resp_ans_btn" disabled="" checked="checked">
  <div class="nt-qansdesc">1773</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style=""><i class="icon-ok-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts">1 pt</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab" style="background-color: green;opacity: 1"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1080"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1080" name="ans_c1078" value="1" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">1775</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1081"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1081" name="ans_c1078" value="2" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">1776</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div></div>


<div class="nt-qfoot">


  <div class="nt-qrep" style="display: none;">
    <span>Correct:</span><span class="nt-crate">-</span>
    <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs">-</span>
  </div>

  <button class="nt-btn-text nt-qcomm-toggle nt-guide" data-guide="resp_comment_btn" style="">Comment</button>

  <div class="nt-qoepts" style="">
    <span>Points:</span>
      <span class="nt-pts">1</span>
    <span>out of 1 pt</span>
    <span class="nt-ok nt-guide" data-guide="resp_oe_pts_ok"><i class="icon-ok"></i></span>
    <span class="nt-hl-words-warn" data-original-title="Some correct words cannot be highlighted!"><i class="icon-warning-sign"></i></span>
  </div>



</div>

<div class="nt-qcomm">
  <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
</div>
</div><div class="nt-qitem nt-qitem-review" id="89c3ac62e58c4b7081053aa3db7c34e9"><div class="nt-qnum ">9.</div>
<a class="nt-qanchor" name="Q9"></a>
<!-- NOT isImg START -->


<div class="nt-qtext " id="text_89c3ac62e58c4b7081053aa3db7c34e9">

    What begins with the words "We the people..."?
</div>

<!-- NOT isImg END -->

<!-- isImg START -->
<!-- isImg END -->

<div class="nt-qhctrls">


  <label class="checkbox nt-guide" data-guide="resp_scored"><input class="nt-scored" type="checkbox" checked="checked">Scored</label>

</div>

<div class="nt-qanscont nt-sortable"><div class="nt-qans nt-qans-hover nt-readonly" id="c1083"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1083" name="ans_c1082" value="0" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">The Declaration of Independence</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1084"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1084" name="ans_c1082" value="1" class="nt-guide" data-guide="resp_ans_btn" disabled="" checked="checked">
  <div class="nt-qansdesc">Thomas Paine's Common Sense</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style=""><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1085"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1085" name="ans_c1082" value="2" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">The United States Constitution</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts">1 pt</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab" style="background-color: green;opacity: 1"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div></div>


<div class="nt-qfoot">


  <div class="nt-qrep" style="display: none;">
    <span>Correct:</span><span class="nt-crate">-</span>
    <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs">-</span>
  </div>

  <button class="nt-btn-text nt-qcomm-toggle nt-guide" data-guide="resp_comment_btn" style="">Comment</button>

  <div class="nt-qoepts" style="">
    <span>Points:</span>
      <span class="nt-pts">0</span>
    <span>out of 1 pt</span>
    <span class="nt-ok nt-guide" data-guide="resp_oe_pts_ok"><i class="icon-ok"></i></span>
    <span class="nt-hl-words-warn" data-original-title="Some correct words cannot be highlighted!"><i class="icon-warning-sign"></i></span>
  </div>



</div>

<div class="nt-qcomm">
  <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
</div>
</div><div class="nt-qitem nt-qitem-review" id="04e57885e36e4e33952d7a2c0e6271e2"><div class="nt-qnum ">10.</div>
<a class="nt-qanchor" name="Q10"></a>
<!-- NOT isImg START -->


<div class="nt-qtext " id="text_04e57885e36e4e33952d7a2c0e6271e2">

    Which of the following presidents was NOT impeached?
</div>

<!-- NOT isImg END -->

<!-- isImg START -->
<!-- isImg END -->

<div class="nt-qhctrls">


  <label class="checkbox nt-guide" data-guide="resp_scored"><input class="nt-scored" type="checkbox" checked="checked">Scored</label>

</div>

<div class="nt-qanscont nt-sortable"><div class="nt-qans nt-qans-hover nt-readonly" id="c1087"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1087" name="ans_c1086" value="0" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">Richard Nixon</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts">1 pt</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab" style="background-color: green;opacity: 1"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1088"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1088" name="ans_c1086" value="1" class="nt-guide" data-guide="resp_ans_btn" disabled="" checked="checked">
  <div class="nt-qansdesc">Andrew Johnson</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style=""><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1089"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1089" name="ans_c1086" value="2" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">Bill Clinton</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div></div>


<div class="nt-qfoot">


  <div class="nt-qrep" style="display: none;">
    <span>Correct:</span><span class="nt-crate">-</span>
    <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs">-</span>
  </div>

  <button class="nt-btn-text nt-qcomm-toggle nt-guide" data-guide="resp_comment_btn" style="">Comment</button>

  <div class="nt-qoepts" style="">
    <span>Points:</span>
      <span class="nt-pts">0</span>
    <span>out of 1 pt</span>
    <span class="nt-ok nt-guide" data-guide="resp_oe_pts_ok"><i class="icon-ok"></i></span>
    <span class="nt-hl-words-warn" data-original-title="Some correct words cannot be highlighted!"><i class="icon-warning-sign"></i></span>
  </div>



</div>

<div class="nt-qcomm">
  <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
</div>
</div><div class="nt-qitem nt-qitem-review" id="67ea2fe7d7c440a68b74580b1c167c25"><div class="nt-qnum ">11.</div>
<a class="nt-qanchor" name="Q11"></a>
<!-- NOT isImg START -->


<div class="nt-qtext " id="text_67ea2fe7d7c440a68b74580b1c167c25">

    The 15th amendment guaranteeing the right of black men to vote was proposed by Congress on February 26, 1869, and ratified by Nevada three days later. How long did it take California to ratify the 15th amendment?
</div>

<!-- NOT isImg END -->

<!-- isImg START -->
<!-- isImg END -->

<div class="nt-qhctrls">


  <label class="checkbox nt-guide" data-guide="resp_scored"><input class="nt-scored" type="checkbox" checked="checked">Scored</label>

</div>

<div class="nt-qanscont nt-sortable"><div class="nt-qans nt-qans-hover nt-readonly" id="c1091"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1091" name="ans_c1090" value="0" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">93 years</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts">1 pt</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab" style="background-color: green;opacity: 1"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1092"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1092" name="ans_c1090" value="1" class="nt-guide" data-guide="resp_ans_btn" disabled="" checked="checked">
  <div class="nt-qansdesc">Six months</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style=""><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1093"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1093" name="ans_c1090" value="2" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">5 days</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1094"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1094" name="ans_c1090" value="3" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">Two weeks</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div></div>


<div class="nt-qfoot">


  <div class="nt-qrep" style="display: none;">
    <span>Correct:</span><span class="nt-crate">-</span>
    <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs">-</span>
  </div>

  <button class="nt-btn-text nt-qcomm-toggle nt-guide" data-guide="resp_comment_btn" style="">Comment</button>

  <div class="nt-qoepts" style="">
    <span>Points:</span>
      <span class="nt-pts">0</span>
    <span>out of 1 pt</span>
    <span class="nt-ok nt-guide" data-guide="resp_oe_pts_ok"><i class="icon-ok"></i></span>
    <span class="nt-hl-words-warn" data-original-title="Some correct words cannot be highlighted!"><i class="icon-warning-sign"></i></span>
  </div>



</div>

<div class="nt-qcomm">
  <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
</div>
</div><div class="nt-qitem nt-qitem-review" id="9e97e501106544a38c762442094d0d6c"><div class="nt-qnum ">12.</div>
<a class="nt-qanchor" name="Q12"></a>
<!-- NOT isImg START -->


<div class="nt-qtext " id="text_9e97e501106544a38c762442094d0d6c">

    When General Douglas MacArthur declared, "I shall return," he intended to return to what place?
</div>

<!-- NOT isImg END -->

<!-- isImg START -->
<!-- isImg END -->

<div class="nt-qhctrls">


  <label class="checkbox nt-guide" data-guide="resp_scored"><input class="nt-scored" type="checkbox" checked="checked">Scored</label>

</div>

<div class="nt-qanscont nt-sortable"><div class="nt-qans nt-qans-hover nt-readonly" id="c1096"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1096" name="ans_c1095" value="0" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">California</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1097"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1097" name="ans_c1095" value="1" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">Iwo Jima</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1098"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1098" name="ans_c1095" value="2" class="nt-guide" data-guide="resp_ans_btn" disabled="" checked="checked">
  <div class="nt-qansdesc">Hawaii</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style=""><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1099"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1099" name="ans_c1095" value="3" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">Philippines</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts">1 pt</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab" style="background-color: green;opacity: 1"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div></div>


<div class="nt-qfoot">


  <div class="nt-qrep" style="display: none;">
    <span>Correct:</span><span class="nt-crate">-</span>
    <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs">-</span>
  </div>

  <button class="nt-btn-text nt-qcomm-toggle nt-guide" data-guide="resp_comment_btn" style="">Comment</button>

  <div class="nt-qoepts" style="">
    <span>Points:</span>
      <span class="nt-pts">0</span>
    <span>out of 1 pt</span>
    <span class="nt-ok nt-guide" data-guide="resp_oe_pts_ok"><i class="icon-ok"></i></span>
    <span class="nt-hl-words-warn" data-original-title="Some correct words cannot be highlighted!"><i class="icon-warning-sign"></i></span>
  </div>



</div>

<div class="nt-qcomm">
  <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
</div>
</div><div class="nt-qitem nt-qitem-review" id="87a83b61c95644f0952918966e0d45f2"><div class="nt-qnum ">13.</div>
<a class="nt-qanchor" name="Q13"></a>
<!-- NOT isImg START -->


<div class="nt-qtext " id="text_87a83b61c95644f0952918966e0d45f2">

    Why was the Federal Reserve Central Banking System created?
</div>

<!-- NOT isImg END -->

<!-- isImg START -->
<!-- isImg END -->

<div class="nt-qhctrls">


  <label class="checkbox nt-guide" data-guide="resp_scored"><input class="nt-scored" type="checkbox" checked="checked">Scored</label>

</div>

<div class="nt-qanscont nt-sortable"><div class="nt-qans nt-qans-hover nt-readonly" id="c1101"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1101" name="ans_c1100" value="0" class="nt-guide" data-guide="resp_ans_btn" disabled="" checked="checked">
  <div class="nt-qansdesc">To create a repository for money collected through income taxes.</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style=""><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1102"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1102" name="ans_c1100" value="1" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">To give more power over the banking system to farmers and laborers.</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1103"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1103" name="ans_c1100" value="2" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">In response to a series of banking crises, such as the Panic of 1907.</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts">1 pt</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab" style="background-color: green;opacity: 1"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div><div class="nt-qans nt-qans-hover nt-readonly" id="c1104"><!-- TODO: consistent editable / fillable display -->
<label class="radio nt-qans-label ">
  <input type="radio" id="ans_c1104" name="ans_c1100" value="3" class="nt-guide" data-guide="resp_ans_btn" disabled="">
  <div class="nt-qansdesc">To give America a bank with the same prestige as the Bank of England.</div>
</label>

<div class="nt-qansrep">
  <div class="nt-qansrep-corr nt-guide" style="display: none;"><i class="icon-remove-sign"></i></div>
  <div class="nt-qpts nt-guide" data-guide="resp_ans_pts" style="visibility: hidden">0 pts</div>
  <div class="nt-qansrep-color nt-guide" data-guide="resp_ans_colortab"></div>
  <div class="nt-qansrep-pct" style="visibility: hidden;">-</div>
</div>



</div></div>


<div class="nt-qfoot">


  <div class="nt-qrep" style="display: none;">
    <span>Correct:</span><span class="nt-crate">-</span>
    <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs">-</span>
  </div>

  <button class="nt-btn-text nt-qcomm-toggle nt-guide" data-guide="resp_comment_btn" style="">Comment</button>

  <div class="nt-qoepts" style="">
    <span>Points:</span>
      <span class="nt-pts">0</span>
    <span>out of 1 pt</span>
    <span class="nt-ok nt-guide" data-guide="resp_oe_pts_ok"><i class="icon-ok"></i></span>
    <span class="nt-hl-words-warn" data-original-title="Some correct words cannot be highlighted!"><i class="icon-warning-sign"></i></span>
  </div>



</div>

<div class="nt-qcomm">
  <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
</div>
</div></div>
</div>
</div>
    </div>
</div>
