
<style>
    /*body {
        margin-top: 40px;
        text-align: center;
        font-size: 13px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    }*/

    #calendar {
        width: 735px;
        /*margin: 0 auto;*/
        margin-left: 20px;
        vertical-align: top;
        float: left;
    }

    #asmsOverview {
        margin-right: 5px;
        vertical-align: top;
    }
</style>
<style type="text/css" media="screen">
    .kalendae .k-days span.closed {
        background: red;
    }
</style>
<div id='calendar'></div>
<div id="asmsOverview">
</div>
