@model OATS_Capstone.Models.Test
@{
    var templateQuestions=OATS_Capstone.Models.SingletonDb.Instance().Questions.Where(i=>i.TagInQuestions.Select(t=>t.Tag).Any(k=>k.TagName=="Template")).Take(2);
}
<div id="sidebar" content-tab="true">
    <div class="t-accord-header">New Question<i class="t-icon arrow-up"></i><i class="t-icon arrow-down"></i></div>
    <div class="t-accord-content">
        <div type="Radio" class="t-question-type t-question-type-radio">
            <i class="t-icon i-radio"></i><span>Radio choice</span>
        </div>
        <div type="Multiple" class="t-question-type t-question-type-multiple">
            <i class="t-icon i-multiple"></i><span>Multiple choice</span>
        </div>
        <div type="Essay" class="t-question-type t-question-type-essay">
            <i class="t-icon i-essay"></i><span>Essay</span>
        </div>
        <div type="ShortAnswer" class="t-question-type t-question-type-short">
            <i class="t-icon i-short"></i><span>Short answer</span>
        </div>
        <div type="Text" class="t-question-type t-question-type-text">
            <i class="t-icon i-text"></i><span>Text</span>
        </div>
        <div type="Image" class="t-question-type t-question-type-img">
            <i class="t-icon i-img"></i><span>Image</span>
        </div>
    </div>

    <div class="t-accord-header">Reuse Questions<i class="t-icon arrow-up"></i><i class="t-icon arrow-down"></i></div>
    <div class="t-accord-content">
        <div class="nt-ctrl-search">
            <div class="nt-search-box">
                <input type="text" placeholder="Search or pick a template" class="nt-search-input " />
                <i class="t-icon icon-search"></i>


                <button class="nt-btn-icon nt-btn-clear ">
                    <i class="icon-remove-sign"></i>
                </button>
            </div>
            <div class="nt-ctrl-search-tags nt-taglist"></div>
        </div>
        <div class="nt-ctrl-list" style="max-height: 200px; min-height: 30px; overflow-y: auto;">
            @foreach(var tQuestion in templateQuestions){
                @Html.Partial("P_Reuse_Template_Question_Instance",tQuestion)
            }
        </div>
    </div>

    <div class="t-accord-header nt-hover" role="tab">Import Questions<i class="t-icon arrow-up"></i><i class="t-icon arrow-down"></i></div>
    <div class="t-accord-content" id="qpaste">
        <div class="nt-loader-large"></div>
        <textarea placeholder="Paste or drag and drop questions here from any document to add them to this test." style="height: 300px; min-height: 30px; overflow-y: auto;"></textarea>
    </div>
</div>
<div id="checklist" content-tab="true" class="nt-sortable" style="height: 500px; overflow-y: auto;">

    @if (Model == null)
    { @Html.Partial("P_Type_Empty_Template") }
    else
    {
        if (Model.Questions.Count == 0)
        {
        @Html.Partial("P_Type_Empty_Template")
        }
        else
        {
            var orderedQuestions = Model.Questions.OrderBy(i => i.SerialOrder);
            foreach (var question in orderedQuestions)
            {
                     @Html.Partial("P_Question_Instance",question)
            }
        }
    }

</div>
