@model OATS_Capstone.Models.AbsFeedBackUser
@{
    var tab = string.Empty;
    if (ViewBag.Tab != null)
    {
        tab = ViewBag.Tab;
    }
}
@switch (tab)
{
    case "student":
    <ul class="nav nav-tabs feedback-tab">
        <li class="active"><a tab="student" href="#" data-toggle="tab">Student Feedbacks</a></li>
        <li><a tab="teacher" href="#" data-toggle="tab">Teacher Feedbacks</a></li>
    </ul>
    @Html.Partial("P_FeedBackTab_Student", Model)
        break;
    case "teacher":
    <ul class="nav nav-tabs feedback-tab">
        <li><a tab="student" href="#" data-toggle="tab">Student Feedbacks</a></li>
        <li class="active"><a tab="teacher" href="#" data-toggle="tab">Teacher Feedbacks</a></li>
    </ul>
    @Html.Partial("P_FeedBackTab_Teacher", Model)
        break;
    default:
    <ul class="nav nav-tabs feedback-tab">
        <li class="active"><a tab="student" href="#" data-toggle="tab">Student Feedbacks</a></li>
        <li><a tab="teacher" href="#" data-toggle="tab">Teacher Feedbacks</a></li>
    </ul>
    @Html.Partial("P_FeedBackTab_Student", Model)
        break;
}
