@model OATS_Capstone.Models.FeedBack


<div class="reply-detail">
    <span class="name">@(string.IsNullOrEmpty(Model.User.Name)?Model.User.UserMail:Model.User.Name)</span>
    <span>@Model.FeedBackDetail</span>

</div>
