@model IEnumerable<OATS_Capstone.Models.Invitation>
@{
    var students = Model.Where(i => i.User.Role.RoleID == 2);
    var teachers = Model.Where(i => i.User.Role.RoleID == 3);
    }
<div class="nt-asm-inv">
  <div class="nt-asm-inv-cont" style="height: 440px; overflow-y: auto;">
    <div class="nt-asm-inv-table-cont nt-learner" id="36ab7f668914495c9a2cd85447c14fe9"><div class="nt-asm-inv-head">  
  <div class="nt-asm-inv-title"><span>Invited Students</span><span class="nt-cnt">(2)</span></div>
</div>
<table>
  <thead>
    <tr>
      <th class="nt-desc">Name</th>
      <th class="nt-desc">Email Address</th>
      <th class="nt-ctrl"></th>
    </tr>
  </thead>
  <tbody>
  @foreach(var invitations in students)
  {
      <tr id="87141f33b0bc4ec49f7d0be02e675a64"><td class="nt-desc nt-name">@invitations.User.FirstName<span class="nt-hl-sort">{T}</span></td>
<td class="nt-desc nt-email">@invitations.User.UserMail</td>
<td class="nt-ctrl">
  <button class="nt-btn-icon nt-btn-rm nt-guide" data-guide="inv_learner_remove" data-original-title="Remove">
    <i class="icon-remove"></i>
  </button>
</td>
</tr>
  }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <button style="visibility: visible; display: inline-block;" class="nt-btn-submit nt-icon-left nt-guide" data-action="invite" data-guide="inv_learner_more">
          <i class="icon-envelope"></i>
          Invite More Students
        </button>
        <button style="visibility: visible; display: block;" class="nt-btn-light nt-icon-left nt-guide" data-action="remove" data-guide="inv_remove">
          <i class="icon-remove"></i>
          Remove
        </button>
        <button style="visibility: visible; display: block;" class="nt-btn-light nt-icon-left nt-guide" data-action="re_invite" data-guide="inv_reinv">
          <i class="icon-repeat"></i>
          Re-invite
        </button>
      </td>
    </tr>
  </tfoot>
</table>

</div>
    <div class="nt-asm-inv-table-cont nt-educator" id="36ab7f668914495c9a2cd85447c14fe9"><div class="nt-asm-inv-head">  
  <div class="nt-asm-inv-title"><span>Invited Educators</span><span class="nt-cnt">(4)</span></div>
</div>
<table>
  <thead>
    <tr>
      <th class="nt-desc">Name</th>
      <th class="nt-desc">Email Address</th>
      <th class="nt-ctrl"></th>
    </tr>
  </thead>
  <tbody>
      @foreach(var invitation in teachers){
  <tr id="087354383c404e04b097e582bf2bed9e"><td class="nt-desc nt-name"><span class="nt-hl-sort">@invitation.User.FirstName</span></td>
<td class="nt-desc nt-email">@invitation.User.UserMail</td>
<td class="nt-ctrl">
  <button class="nt-btn-icon nt-btn-rm nt-guide" data-guide="inv_educator_remove" data-original-title="Remove">
    <i class="icon-remove"></i>
  </button>
</td>
</tr>
      }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <button style="visibility: visible; display: inline-block;" class="nt-btn-submit nt-icon-left nt-guide" data-action="invite" data-guide="inv_educator_more">
          <i class="icon-envelope"></i>
          Invite More Educators
        </button>
        <button style="visibility: visible; display: block;" class="nt-btn-light nt-icon-left nt-guide" data-action="remove" data-guide="inv_remove">
          <i class="icon-remove"></i>
          Remove
        </button>
        <button style="visibility: visible; display: block;" class="nt-btn-light nt-icon-left nt-guide" data-action="re_invite" data-guide="inv_reinv">
          <i class="icon-repeat"></i>
          Re-invite
        </button>
      </td>
    </tr>
  </tfoot>
</table>

</div>
  </div>
</div>



