@model OATS_Capstone.Models.User
<div class="nt-clb-item nt-clb-item-multi nt-clb-item-sel">
                                <div class="nt-clb-item-control">
                                    <input type="checkbox" checked="checked" user-id="@Model.UserID"/>
                                </div>
                                <div class="nt-clb-item-content ">
                                    <div class="nt-clb-item-label">@Model.LastName <span class="nt-hl-sort"> - @Model.FirstName</span></div>
                                    <div class="nt-clb-item-desc">@Model.UserMail</div>
                                </div>
                            </div>