@model OATS_Capstone.Models.Question
<div class="nt-qitem nt-qitem-review">
            <div class="nt-qnum ">3.</div>
            <div class="nt-qtext">
                <p>Demo Essay</p>
            </div>
            <div class="nt-qanscont nt-sortable"></div>
            <div class="nt-qmiddle">
                <div class="nt-qrespinput"></div>
            </div>
            <div class="nt-qfoot">
                <div class="nt-qrep" style="">
                    <span>Correct:</span><span class="nt-crate">0% ( 0 / 2 )</span>
                    <span>Pbs:</span><span class="nt-pbs">0.00</span>
                </div>
                <button class="nt-btn-text nt-qcomm-toggle" style="display: none;">Comment</button>

                <div class="nt-qoepts" style="display: none;">
                    <span>Points:</span>
                    <span class="nt-pts"></span>
                    <span></span>
                    <span class="nt-ok"><i class="icon-ok"></i></span>
                    <span class="nt-hl-words-warn"><i class="icon-warning-sign"></i></span>
                </div>



            </div>

            <div class="nt-qcomm" style="display: none;">
                <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
            </div>
        </div>