@model OATS_Capstone.Models.Question
<div class="nt-qsearch" question-id="@Model.QuestionID"><div>
  <i class="nt-icon i-short"></i>
</div>
<div class="nt-qsearch-content">
  <div class="nt-qsearch-title"><p>@Model.QuestionTitle</p>
</div>
  <div class="nt-qsearch-desc">@Model.TextDescription</div>
</div>
<div class="nt-qsearch-popover-cont">
  <div class="nt-qsearch-popover">
    <div class="nt-qtext nt-phrase">
    @*<p><span class="nt-qsearch-hl">short</span> answer example</p>*@
        <p>@Model.QuestionTitle</p>
    </div>
    <div class="nt-qanscont">
      <div class="nt-textinput">
      </div>
    </div>
    <div class="nt-taglist">
    </div>
  </div>
</div>
</div>