<div class="nt-qsearch"><div>
  <i class="nt-icon type-essay"></i>
</div>
<div class="nt-qsearch-content">
  <div class="nt-qsearch-title"><p>essay example</p>
</div>
  <div class="nt-qsearch-desc">essay detail example</div>
</div>
<div class="nt-qsearch-popover-cont">
  <div class="nt-qsearch-popover">
    <div class="nt-qtext nt-phrase">
    <p><span class="nt-qsearch-hl">essay</span> example</p>

    </div>
    <div class="nt-qanscont">
      <div class="nt-textarea">
      </div>
    </div>
    <div class="nt-taglist">
    </div>
  </div>
</div>
</div>