@model OATS_Capstone.Models.ScoreTest
<div class="nt-scores-table-cont" style="height: 350px; overflow-y: hidden;">
    <div id="score-charter">
        @foreach (var item in Model.UsersScores)
        {
            <div data="charter" class="bar-chart" name="@item.Name" percent="@(item.Percent??0)" user-id="@item.UserId"></div>
        }
    </div>
</div>