@model OATS_Capstone.Models.ScoreTest
@{
    var tab = string.Empty;
    if (ViewBag.Tab != null)
    {
        tab = ViewBag.Tab;
    }
}
@if (Model.CheckedUserIdsCount == 0)
{ 
    <div class="nt-empty-msg">Please select one or more students!</div>
}
else
{
    <div class="nt-scores-cont" style="height: 500px; overflow-y: hidden;">
        <ul class="nav nav-tabs" id="score-detail-tab">
            <li><a tab="statistic" href="#statistic">Scores Statistic</a></li>
            <li><a tab="chart" href="#chart">Scores Chart</a></li>
        </ul>
        <div id="score-detail-container">
            @switch (tab)
            {
                case "statistic":
                @Html.Partial("P_ScoreTab_Statistic", Model)
                    break;
                case "chart":
                @Html.Partial("P_ScoreTab_Chart", Model)
                    break;
                default:
                @Html.Partial("P_ScoreTab_Statistic", Model)
                    break;
            }

        </div>
        <div class="nt-scores-footer">
            @*   <div class="notreptags">
                <div class="nt-tag-ph">Not Reported Tags</div>
                <div class="nt-tags">
                    <div class="nt-tag">
                        <span>presidents</span>
                        <i class="icon-remove nt-tag-remove"></i>
                    </div>
                </div>
            </div>*@
            <div class="scorecontrols">
                @*<button class="nt-btn-submit">Send Scores...</button>*@
                <button id="btn-download-score" class="nt-btn-submit">Download</button>
            </div>
        </div>
    </div>
}