@model OATS_Capstone.Models.Question
<div class="nt-qitem nt-qitem-edit nt-qitem-edit-inact" question-type="Text" question-id="@Model.QuestionID">
    <div class="nt-qnum nt-qnum-letter">@Model.LabelOrder</div>
    <a class="nt-qanchor"></a>
    <!-- NOT isImg START -->


    <div class="nt-conted-ph-cont" style="position: relative; overflow: hidden;">
        <div class="redactor_box">
            <div class="nt-qtext nt-qedit nt-guide nt-delayedblur redactor_editor" contenteditable="true">@Model.QuestionTitle</div>
        </div>
    </div>

    <!-- NOT isImg END -->

    <!-- isImg START -->
    <!-- isImg END -->

    <div class="nt-qhctrls">

        <button class="nt-btn-circle bt-duplicate"><i class="t-icon i-duplicate"></i></button>
        <button class="nt-btn-circle bt-delete"><i class="icon-remove"></i></button>


    </div>

    <div class="nt-qanscont nt-sortable"></div>


    <div class="nt-qfoot">

        <div class="nt-qctrls" style="display: none;">



            <select class="nt-qtype-sel">

                <option value="Radio">Radio choice</option>
                <option value="Multiple">Multiple Choice</option>
                <option value="Essay">Essay</option>
                <option value="ShortAnswer">Short answer</option>
                <option value="Text" selected="">Text</option>
                <option value="Image">Image</option>

            </select>
            <button style="visibility: hidden" class="nt-btn-sqr nt-reqbtn"><i class="t-icon asterisk"></i></button>

            <button style="visibility: hidden" class="nt-btn-text nt-scrbtn">
                Points
            </button>
        </div>
        <div class="nt-qtagcont" style="border-top-width: 0px; display: block;">
            <div class="hoverscroll horizontal" style="width: 100%; height: 24px;">
                <div class="listcontainer" style="width: 100%; height: 24px;">
                    <div class="nt-tags list" style="width: 104px;">
                        <div class="nt-tag-adder item">
                            <input type="text" class="input-small ac_input" placeholder="Add Tag..." autocomplete="off" />
                        </div>
                    </div>
                    <div class="arrow left" style="display: none;"><i class="icon-chevron-left"></i></div>
                    <div class="arrow right" style="display: none;"><i class="icon-chevron-right"></i></div>
                </div>
            </div>
        </div>


        <button class="nt-btn-sqr nt-qctrls-qtags-toggle" style="display: none;">
            <i class="t-icon i-tag"></i>
        </button>
    </div>

</div>
