@model OATS_Capstone.Models.Question

<div class="nt-qitem" question-type="Text" question-id="@Model.QuestionID">
    <div class="nt-qnum nt-qnum-letter"></div>
    <a class="nt-qanchor"></a>
    <div class="nt-qtext ">
        <p>@Html.Raw(Model.QuestionTitle)</p>
    </div>
    <div class="nt-qanscont nt-sortable"></div>

    <div class="nt-qfoot">
        <div class="nt-qrep" style="display: none">
            <span>Correct:</span><span class="nt-crate"></span>
            <span>Pbs:</span><span class="nt-pbs"></span>
        </div>
    </div>
</div>
