@model OATS_Capstone.Models.Test
<div id="sidebar" role="tablist">
    <div class="t-accord-header">New Question<i class="t-icon arrow-up"></i><i class="t-icon arrow-down"></i></div>
    <div class="t-accord-content">
        <div class="t-question-type t-question-type-radio">
            <i class="t-icon i-radio"></i><span>Radio choice</span>
        </div>
        <div class="t-question-type t-question-type-multiple">
            <i class="t-icon i-multiple"></i><span>Multiple choice</span>
        </div>
        <div class="t-question-type t-question-type-essay">
            <i class="t-icon i-essay"></i><span>Essay</span>
        </div>
        <div class="t-question-type t-question-type-short">
            <i class="t-icon i-short"></i><span>Short answer</span>
        </div>
        <div class="t-question-type t-question-type-text">
            <i class="t-icon i-text"></i><span>Text</span>
        </div>
        <div class="t-question-type t-question-type-img">
            <i class="t-icon i-img"></i><span>Image</span>
        </div>
    </div>

    <div class="t-accord-header">Reuse Questions<i class="t-icon arrow-up"></i><i class="t-icon arrow-down"></i></div>
    <div class="t-accord-content">
        <div class="nt-ctrl-search">
            <div class="nt-search-box">
                <input type="text" placeholder="Search or pick a template" class="nt-search-input " />
                <i class="t-icon icon-search"></i>


                <button class="nt-btn-icon nt-btn-clear ">
                    <i class="icon-remove-sign"></i>
                </button>
            </div>
            <div class="nt-ctrl-search-tags nt-taglist"></div>
        </div>
        <div class="nt-ctrl-list" style="height: 130px; min-height: 30px; overflow-y: auto;">
            <div class="nt-qsearch">
                <div>
                    <i class="t-icon i-radio"></i>
                </div>
                <div class="nt-qsearch-content">
                    <div class="nt-qsearch-title">Likert Scale?</div>
                    <div class="nt-qsearch-desc">Strongly Agree / Agree / Neutral / Disagree / Strongly Disagree</div>
                </div>
                <div class="nt-qsearch-popover-cont">
                    <div class="nt-qsearch-popover">
                        <div class="nt-qtext nt-phrase">
                            Likert Scale?
                        </div>
                        <div class="nt-qanscont">
                            <div class="nt-qans">
                                <label class="radio nt-qans-label nt-qans-label-rep">
                                    <input type="radio" disabled="disabled" />
                                    <div class="nt-qansdesc">Strongly Agree</div>
                                </label>
                                <div class="nt-qansrep">
                                    <div class="nt-qpts" style="visibility: hidden">0 pts</div>
                                </div>
                            </div>
                            <div class="nt-qans">
                                <label class="radio nt-qans-label nt-qans-label-rep">
                                    <input type="radio" disabled="disabled" />
                                    <div class="nt-qansdesc">Agree</div>
                                </label>
                                <div class="nt-qansrep">
                                    <div class="nt-qpts" style="visibility: hidden">0 pts</div>
                                </div>
                            </div>
                            <div class="nt-qans">
                                <label class="radio nt-qans-label nt-qans-label-rep">
                                    <input type="radio" disabled="disabled" />
                                    <div class="nt-qansdesc">Neutral</div>
                                </label>
                                <div class="nt-qansrep">
                                    <div class="nt-qpts" style="visibility: hidden">0 pts</div>
                                </div>
                            </div>
                            <div class="nt-qans">
                                <label class="radio nt-qans-label nt-qans-label-rep">
                                    <input type="radio" disabled="disabled" />
                                    <div class="nt-qansdesc">Disagree</div>
                                </label>
                                <div class="nt-qansrep">
                                    <div class="nt-qpts" style="visibility: hidden">0 pts</div>
                                </div>
                            </div>
                            <div class="nt-qans">
                                <label class="radio nt-qans-label nt-qans-label-rep">
                                    <input type="radio" disabled="disabled" />
                                    <div class="nt-qansdesc">Strongly Disagree</div>
                                </label>
                                <div class="nt-qansrep">
                                    <div class="nt-qpts" style="visibility: hidden">0 pts</div>
                                </div>
                            </div>
                        </div>
                        <div class="nt-taglist">
                            <div class="nt-tag nt-tag-hl"><span>Template<span></span></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nt-qsearch">
                <div>
                    <i class="t-icon i-radio"></i>
                </div>
                <div class="nt-qsearch-content">
                    <div class="nt-qsearch-title">True-False question?</div>
                    <div class="nt-qsearch-desc">True / False</div>
                </div>
                <div class="nt-qsearch-popover-cont">
                    <div class="nt-qsearch-popover">
                        <div class="nt-qtext nt-phrase">
                            True-False question?
                        </div>
                        <div class="nt-qanscont">
                            <div class="nt-qans">
                                <label class="radio nt-qans-label nt-qans-label-rep">
                                    <input type="radio" disabled="disabled" />
                                    <div class="nt-qansdesc">True</div>
                                </label>
                                <div class="nt-qansrep">
                                    <div class="nt-qpts" style="visibility: hidden">0 pts</div>
                                </div>
                            </div>
                            <div class="nt-qans">
                                <label class="radio nt-qans-label nt-qans-label-rep">
                                    <input type="radio" disabled="disabled" />
                                    <div class="nt-qansdesc">False</div>
                                </label>
                                <div class="nt-qansrep">
                                    <div class="nt-qpts" style="visibility: hidden">0 pts</div>
                                </div>
                            </div>
                        </div>
                        <div class="nt-taglist">
                            <div class="nt-tag nt-tag-hl"><span>Template<span></span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="t-accord-header nt-hover" role="tab">Import Questions<i class="t-icon arrow-up"></i><i class="t-icon arrow-down"></i></div>
    <div class="t-accord-content" style="display: none;">
        <div class="nt-loader-large"></div>
        <textarea placeholder="Paste or drag and drop questions here from any document to add them to this test." data-guide="content_import_paste" style="height: 210px; min-height: 30px; overflow-y: auto;"></textarea>
    </div>

    <div class="t-accord-header nt-hover">Tags<i class="t-icon arrow-up"></i><i class="t-icon arrow-down"></i></div>
    <div class="t-accord-content" id="tags" style="display: none;">
        <div class="nt-ctrl-search">
            <div class="nt-search-box">
                <input type="text" placeholder="Search" class="nt-search-input add" />
                <i class="t-icon search"></i>

                <button class="nt-btn-circle nt-btn-add">
                    <i class="icon-plus"></i>
                </button>

                <button class="nt-btn-icon nt-btn-clear add">
                    <i class="icon-remove-sign"></i>
                </button>
            </div>
        </div>
        <div class="nt-ctrl-list nt-taglist" style="max-height: 150px; min-height: 30px; overflow-y: auto;">
            <div class="nt-tag">
                <span>Amendments</span>
                <i class="icon-remove-sign icon-white"></i>
            </div>
            <div class="nt-tag">
                <span>Class of 2015</span>
                <i class="icon-remove-sign icon-white"></i>
            </div>
            <div class="nt-tag">
                <span>Class of 2016</span>
                <i class="icon-remove-sign icon-white"></i>
            </div>
            <div class="nt-tag">
                <span>Math</span>
                <i class="icon-remove-sign icon-white"></i>
            </div>
            <div class="nt-tag">
                <span>SAMPLE</span>
                <i class="icon-remove-sign icon-white"></i>
            </div>
            <div class="nt-tag">
                <span>Statue</span>
                <i class="icon-remove-sign icon-white nt-tag-remove"></i>
            </div>
            <div class="nt-tag">
                <span>Template</span>
                <i class="icon-remove-sign icon-white"></i>
            </div>
            <div class="nt-tag">
                <span>Welcome</span>
                <i class="icon-remove-sign icon-white"></i>
            </div>
            <div class="nt-tag">
                <span>history</span>
                <i class="icon-remove-sign icon-white"></i>
            </div>
            <div class="nt-tag" id="3dcf77afc7a9492d8851e4551da1f43e">
                <span>independence</span>
                <i class="icon-remove-sign icon-white"></i>
            </div>
            <div class="nt-tag" id="1bef3c1a1a4b487eab938c15a297f713">
                <span>presidents</span>
                <i class="icon-remove-sign icon-white"></i>
            </div>
            <div class="nt-tag" id="4d9168633b2e4bcb8919d3b012c3bb25">
                <span>wars</span>
                <i class="icon-remove-sign icon-white"></i>
            </div>
        </div>
    </div>
</div>
<div id="checklist" content-tab="true" class="nt-sortable" style="height: 380px; overflow-y: auto;">

    @if (Model == null)
    { @Html.Partial("P_Type_Empty_Template") }
    else
    {
        if (Model.Questions.Count == 0)
        {
        @Html.Partial("P_Type_Empty_Template")
        }
        else
        {
            var orderedQuestions = Model.Questions.OrderBy(i => i.SerialOrder);
            foreach (var question in orderedQuestions)
            {
                     @Html.Partial("P_Question_Instance",question)
            }
        }
    }

</div>
