@model OATS_Capstone.Models.AbsFeedBackUser
@if (Model.Parents.Count == 0)
{
    <div class="nt-asm-settings" style="height: 500px; overflow-y: auto;">
        <div class="nt-panel">
            <div class="nt-checklist-ctrl">
                <div class="nt-msg">No feedback found: no teacher give their feedbacks.</div>
            </div>
        </div>
    </div>
}
else
{
    <div class="nt-asm-settings" style="height: 500px; overflow-y: auto;">
        <div class="nt-panel">
            <div class="comment-count">
                All Feedbacks
            <span>@Model.Parents.Count</span>
            </div>

            <div id="comments" style="height: 400px; overflow-y: auto">
                @foreach (var feedback in Model.Parents)
                {
                    @Html.Partial("P_FeedBack_Form_Item", feedback) 
                }
            </div>
        </div>
    </div>
}