@model OATS_Capstone.Models.ResponseTest
<div id="modalPopupTestHistory" class="modal hide fade">
    <div class="modal-header">
        <div class="modal-title">@Model.TestTitle</div>
    </div>
    <div class="modal-body">
        <div class="controls">
            @if (Model.IsHaveData)
            {
                @Html.Partial("P_ResponseTab_Inner", Model)
            }
            else
            {
                <div id="checklist" style="height: 400px; overflow-y: auto;">You are no longer take this test</div>
            }
        </div>
    </div>
    <div class="modal-footer">
        <button class="nt-btn-dark nt-btn-cancel" data-dismiss="modal">Close</button>
    </div>
</div>
