@using OATS_Capstone.Models
@model OATS_Capstone.Models.ResponseTest
<div id="sidebar">
    <div style="" class="nt-acc-content" id="learners">
        <div class="nt-ctrl-search">
            <div class="nt-search-box">
                <input type="text" placeholder="Search" class="nt-search-input " />
                <i class="nt-icon search"></i>


                <button class="nt-btn-icon nt-btn-clear " style="display: none;">
                    <i class="icon-remove-sign"></i>
                </button>
            </div>
            <div class="nt-ctrl-search-tags nt-taglist"></div>
        </div>
        <div class="nt-ctrl-list">
            <div class="nt-ctrl-line"></div>
            <div class="nt-clb-header">
                <div class="nt-clb-header-control">
                    <input type="checkbox" class="nt-ctrl-all" />
                </div>
                <div class="nt-clb-header-content">
                    <div class="nt-clb-header-label">
                        <span>Student</span>
                        <button class="nt-btn-circle-mini nt-sort-desc"><i class="icon-caret-down"></i></button>
                        <button class="nt-btn-circle-mini nt-sort-asc active"><i class="icon-caret-up"></i></button>
                    </div>
                    <div class="nt-clb-header-desc">
                        <span class="nt-guide" data-guide="resp_score_title">Score</span>
                        <button class="nt-btn-circle-mini nt-sort-desc"><i class="icon-caret-down"></i></button>
                        <button class="nt-btn-circle-mini nt-sort-asc"><i class="icon-caret-up"></i></button>
                    </div>
                </div>
            </div>
            <div class="nt-ctrl-line"></div>
            <div id="respUsers" style="max-height: 450px; overflow-y: auto;">
                @foreach (var uInTest in Model.ResponseUserList)
                {
                    <div class="nt-clb-item nt-clb-item-multi">
                        <div class="nt-clb-item-control">
                            <input type="checkbox" user-id="@uInTest.UserID" />
                        </div>
                        <div class="nt-clb-item-content">
                            <div class="nt-clb-item-label">@uInTest.UserLabel</div>
                            <div class="nt-clb-item-desc">@uInTest.UserPercent</div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<div id="response-container">
    @Html.Partial("P_ResponseTab_Inner",Model)
</div>
