@model OATS_Capstone.Models.Question
<div class="nt-qsearch">
                <div>
                    <i class="t-icon i-radio"></i>
                </div>
                <div class="nt-qsearch-content">
                    <div class="nt-qsearch-title">@Model.QuestionTitle</div>
                    <div class="nt-qsearch-desc">@Model.Answers.Where(k=>!String.IsNullOrEmpty(k.AnswerContent)).Select(i=>i.AnswerContent).Aggregate((w,n)=>w+"/ "+n)</div>
                </div>
                <div class="nt-qsearch-popover-cont">
                    <div class="nt-qsearch-popover">
                        <div class="nt-qtext nt-phrase">
                            Likert Scale?
                        </div>
                        <div class="nt-qanscont">
                            <div class="nt-qans">
                                <label class="radio nt-qans-label nt-qans-label-rep">
                                    <input type="radio" disabled="disabled" />
                                    <div class="nt-qansdesc">Strongly Agree</div>
                                </label>
                                <div class="nt-qansrep">
                                    <div class="nt-qpts" style="visibility: hidden">0 pts</div>
                                </div>
                            </div>
                            <div class="nt-qans">
                                <label class="radio nt-qans-label nt-qans-label-rep">
                                    <input type="radio" disabled="disabled" />
                                    <div class="nt-qansdesc">Agree</div>
                                </label>
                                <div class="nt-qansrep">
                                    <div class="nt-qpts" style="visibility: hidden">0 pts</div>
                                </div>
                            </div>
                            <div class="nt-qans">
                                <label class="radio nt-qans-label nt-qans-label-rep">
                                    <input type="radio" disabled="disabled" />
                                    <div class="nt-qansdesc">Neutral</div>
                                </label>
                                <div class="nt-qansrep">
                                    <div class="nt-qpts" style="visibility: hidden">0 pts</div>
                                </div>
                            </div>
                            <div class="nt-qans">
                                <label class="radio nt-qans-label nt-qans-label-rep">
                                    <input type="radio" disabled="disabled" />
                                    <div class="nt-qansdesc">Disagree</div>
                                </label>
                                <div class="nt-qansrep">
                                    <div class="nt-qpts" style="visibility: hidden">0 pts</div>
                                </div>
                            </div>
                            <div class="nt-qans">
                                <label class="radio nt-qans-label nt-qans-label-rep">
                                    <input type="radio" disabled="disabled" />
                                    <div class="nt-qansdesc">Strongly Disagree</div>
                                </label>
                                <div class="nt-qansrep">
                                    <div class="nt-qpts" style="visibility: hidden">0 pts</div>
                                </div>
                            </div>
                        </div>
                        <div class="nt-taglist">
                            <div class="nt-tag nt-tag-hl"><span>Template<span></span></span></div>
                        </div>
                    </div>
                </div>
            </div>