@model OATS_Capstone.Models.Question
<div class="nt-qsearch" data-action="reuse" question-id="@Model.QuestionID"><div>
  <i class="t-icon i-text"></i>
</div>
<div class="nt-qsearch-content">
  <div class="nt-qsearch-title">@Model.QuestionTitle</div>
  <div class="nt-qsearch-desc"></div>
</div>
<div class="nt-qsearch-popover-cont">
  <div class="nt-qsearch-popover">
    <div class="nt-qtext nt-phrase">
    @Model.QuestionTitle 
    </div>
    <div class="nt-qanscont">
    </div>
    <div class="nt-taglist">
    </div>
  </div>
</div>
</div>