@model OATS_Capstone.Models.Question
<div class="nt-qitem nt-qitem-review">
            <div class="nt-qnum nt-qnum-letter">A.</div>
            <div class="nt-qtext ">

                <p>abcdef</p>

            </div>
            <div class="nt-qanscont nt-sortable"></div>
            <div class="nt-qfoot">
                <div class="nt-qrep" style="display: none;">
                    <span>Correct:</span><span class="nt-crate"></span>
                    <span>Pbs:</span><span class="nt-pbs"></span>
                </div>
                <button class="nt-btn-text nt-qcomm-toggle" style="display: none;">Comment</button>
            </div>
            <div class="nt-qcomm" style="display: none;">
                <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
            </div>
        </div>