<div align="center" class="nt-qimg-cont">
    @*<img src="" style="width: ; height: "/>*@
    <div style="display:none;" data-dz-name data-dz-size data-dz-uploadprogress data-dz-errormessage></div>
    <img data-dz-thumbnail/>
    <button class="nt-btn-circle nt-qimg-close">
        <i class="icon-remove"></i>
    </button>
</div>

<div class="nt-conted-ph-cont" style="position: relative; overflow: hidden;">
    <div class="nt-ph" style="position: absolute; cursor: text; text-align: center; top: 15px; left: 15px; font-size: 12px; line-height: 16px; width: 700px;">Enter Description</div>
    <div class="redactor_box">
        <textarea style="height: 22px; display: none;"></textarea><div class="nt-qtext nt-qimg-desc nt-qedit nt-delayedblur redactor_editor" style="display: none;" contenteditable="true"></div>
    </div>
</div>
