<div class="nt-qsearch><div>
  <i class="nt-icon type-text"></i>
</div>
<div class="nt-qsearch-content">
  <div class="nt-qsearch-title">Have you noticed that there is a link in the question above? If you enter any web address in a question or an answer, it is going to be presented as a link. Like <span class="nt-wrap-url" contenteditable="false"><a class="nt-link" href="http://www.terascore.com" target="_blank">www.terascore.com</a></span>. Just copy-paste the link from anywhere. </div>
  <div class="nt-qsearch-desc"></div>
</div>
<div class="nt-qsearch-popover-cont">
  <div class="nt-qsearch-popover">
    <div class="nt-qtext nt-phrase">
    Have you noticed that there is a link in the question above? If you <span class="nt-qsearch-hl">enter</span> any web address in a question or an answer, it is going to be presented as a link. Like <span class="nt-wrap-url" contenteditable="false"><a class="nt-link" href="http://www.terascore.com" target="_blank">www.terascore.com</a></span>. Just copy-paste the link from anywhere. 
    </div>
    <div class="nt-qanscont">
    </div>
    <div class="nt-taglist">
    </div>
  </div>
</div>
</div>