@model OATS_Capstone.Models.Question
<div class="nt-qitem nt-qitem-review">
            <div class="nt-qnum">4.</div>
            <div class="nt-qtext">
                <p>Demo Short</p>
            </div>
            <div class="nt-qhctrls">
                <label class="checkbox">
                    <input class="nt-scored" type="checkbox" checked="checked"/>Scored</label>
            </div>
            <div class="nt-qanscont nt-sortable"></div>
            <div class="nt-qmiddle" style="">
                <div class="nt-qrespinput nt-simple-resp"></div>
            </div>
            <div class="nt-qfoot">
                <div class="nt-qrep" style="">
                    <span>Correct:</span><span class="nt-crate">50% ( 1 / 2 )</span>
                    <span>Pbs:</span><span class="nt-pbs">+1.00</span>
                </div>
                <button class="nt-btn-text nt-qcomm-toggle" style="display: none;">Comment</button>

                <div class="nt-qoepts" style="display: none;">
                    <span>Points:</span>
                    <input class="nt-pts" type="text"/>
                    <span>out of 1 pt</span>
                    <span class="nt-ok nt-guide"><i class="icon-ok"></i></span>
                    <span class="nt-hl-words-warn"><i class="icon-warning-sign"></i></span>
                </div>
            </div>
            <div class="nt-qcomm" style="display: none;">
                <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
            </div>
        </div>