@model OATS_Capstone.Models.Question
<div class="nt-qsearch" question-id="@Model.QuestionID">
    <div>
        <i class="t-icon i-img"></i>
    </div>
    <div class="nt-qsearch-content">
        <div class="nt-qsearch-title">
            <p>Con kien</p>
        </div>
        <div class="nt-qsearch-desc"></div>
    </div>
    <div class="nt-qsearch-popover-cont">
        <div class="nt-qsearch-popover">
            <div class="nt-qtext nt-phrase">
                <p><span class="nt-qsearch-hl">Con</span> <span class="nt-qsearch-hl">kien</span></p>

            </div>
            <div class="nt-qanscont">
                <p align="center" style="display: block">
                    <img src="/spec/resource/5d669071d08d42b697ffd317ce8118ea?thumb=1">
                </p>
            </div>
            <div class="nt-taglist">
            </div>
        </div>
    </div>
</div>
