@model OATS_Capstone.Models.Question
<div class="nt-qsearch" data-action="reuse" question-id="@Model.QuestionID">
    <div>
        <i class="t-icon i-img"></i>
    </div>
    <div class="nt-qsearch-content">
        <div class="nt-qsearch-title">
            <p>Con kien</p>
        </div>
        <div class="nt-qsearch-desc"></div>
    </div>
    <div class="nt-qsearch-popover-cont">
        <div class="nt-qsearch-popover">
            <div class="nt-qtext nt-phrase">
                <p><span class="nt-qsearch-hl">@Html.Raw(Model.QuestionTitle)</span></p>

            </div>
            <div class="nt-qanscont">
                <p align="center" style="display: block">
                    <img src="@Url.Content(Model.ImageUrl)">
                </p>
            </div>
            <div class="nt-taglist">
                @{
                    var tags = Model.TagInQuestions.OrderBy(i => i.SerialOrder).Select(i => i.Tag);
                    foreach (var item in tags)
                    {
                    @Html.Partial("P_Tag_Item", item)
                    }
                }
            </div>
        </div>
    </div>
</div>
