@model OATS_Capstone.Models.AbsResponseQuestion
<div class="nt-qitem nt-qitem-review">
            <div class="nt-qnum nt-qnum-letter">@Model.LabelOrder</div>
            <p align="center" class="nt-qimg-cont" style="display: block">
                <img alt="@Path.GetFileName(Model.ImageUrl.Trim())" src="@Url.Content(Model.ImageUrl.Trim())" width="300" height="300"/>
            </p>

            <div class="nt-qtext nt-qimg-desc ">
                <p>
                    <br/>
                </p>

            </div>
            <!-- isImg END -->
            <div class="nt-qanscont nt-sortable"></div>
            <div class="nt-qfoot">
                <button class="nt-btn-text nt-qcomm-toggle" style="display: none;">Comment</button>
            </div>
            <div class="nt-qcomm" style="display: none;">
                <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
            </div>
        </div>