@model OATS_Capstone.Models.ScoreTest
@if (Model.CheckedUserIdsCount == 0)
{ 
    <div class="nt-scores-msg" style="height: 244px; overflow-y: hidden;">Please select one or more students!</div>
}
else
{
    <div class="nt-scores-cont" style="height: 450px; overflow-y: hidden;">
        <div class="nt-scores-table-cont" style="height: 300px; overflow-y: hidden;">
            <table class="nt-scores-table nt-scores-table-header">
                <thead>
                    <tr>
                        <td colspan="6" class="nt-scores-table-users">
                            <div class="nt-user">
                                <div class="nt-name">
                                    <span class="nt-title">Name:</span>
                                    <span class="nt-descr">@Model.ScoreUsersNameLabel</span>
                                </div>
                                <div class="nt-grade" style="display: none;">
                                    <span class="nt-title">Grade:</span>
                                    <span class="nt-descr"></span>
                                </div>
                            </div>
                            <div class="nt-users" style="display: none;">
                                <div class="nt-names"></div>
                                <div class="nt-more"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="nt-scores-table-firstcol">
                            <div class="nt-scores-table-title">
                                <div class="nt-desc">Tags</div>
                            </div>
                            <div class="nt-icons">
                                <button class="nt-btn-circle-mini nt-sort-asc">
                                    <i class="t-icon i-caret-up"></i>
                                </button>
                                <button class="nt-btn-circle-mini nt-sort-desc">
                                    <i class="t-icon i-caret-down"></i>
                                </button>
                            </div>
                        </td>

                        <td class="nt-scores-table-avgcol nt-scores-table-selavgcol">
                            <div class="nt-scores-table-title nt-guide" data-original-title="Change to x%">
                                <div class="nt-desc">
                                    <span class="nt-selavg">Student<br>
                                        Score</span>
                                    <span class="nt-score-col-mode">(/)</span>
                                </div>
                            </div>
                            <div class="nt-icons" data-sort-attr="selAvg">
                                <button class="nt-btn-circle-mini nt-sort-asc">
                                    <i class="t-icon i-caret-up"></i>
                                </button>
                                <button class="nt-btn-circle-mini nt-sort-desc">
                                    <i class="t-icon i-caret-down"></i>
                                </button>
                            </div>
                        </td>
                        <td class="nt-scores-table-avgcol nt-scores-table-egavgcol">
                            <div class="nt-scores-table-title nt-guide" data-original-title="Change to x%">
                                <div class="nt-desc">
                                    <span class="nt-egavg">Group<br/>
                                        Avg</span>
                                    <span class="nt-score-col-mode">(/)</span>
                                </div>
                            </div>
                            <div class="nt-icons" data-sort-attr="egAvg">
                                <button class="nt-btn-circle-mini nt-sort-asc">
                                    <i class="t-icon i-caret-up"></i>
                                </button>
                                <button class="nt-btn-circle-mini nt-sort-desc">
                                    <i class="t-icon i-caret-down"></i>
                                </button>
                            </div>
                        </td>
                        <td class="nt-scores-table-avgcol nt-scores-table-avgdiffcol">
                            <div class="nt-scores-table-title nt-guide" data-original-title="Change to x%">
                                <div class="nt-desc">
                                    <span class="nt-avgdiff">Difference</span>
                                    <span class="nt-score-col-mode">(/)</span>
                                </div>
                            </div>
                            <div class="nt-icons" data-sort-attr="avgDiff">
                                <button class="nt-btn-circle-mini nt-sort-asc">
                                    <i class="t-icon i-caret-up"></i>
                                </button>
                                <button class="nt-btn-circle-mini nt-sort-desc">
                                    <i class="t-icon i-caret-down"></i>
                                </button>
                            </div>
                        </td>
                        <td class="nt-scores-table-avgcol nt-scores-table-grpstdevcol">
                            <div class="nt-scores-table-title nt-guide" data-original-title="Change to x%">
                                <div class="nt-desc">
                                    <span class="nt-grpstdev">Group<br/>
                                        StDev</span>
                                    <span class="nt-score-col-mode">(/)</span>
                                </div>
                            </div>
                            <div class="nt-icons" data-sort-attr="grpStdev">
                                <button class="nt-btn-circle-mini nt-sort-asc">
                                    <i class="t-icon i-caret-up"></i>
                                </button>
                                <button class="nt-btn-circle-mini nt-sort-desc">
                                    <i class="t-icon i-caret-down"></i>
                                </button>
                            </div>
                        </td>

                        <td class="nt-scores-table-boxplot">
                            <div class="nt-scores-table-title">Box Plot</div>
                        </td>
                    </tr>
                </thead>
            </table>
            <div class="nt-scores-table-body" id="c414" style="max-height: 125px; min-height: 20px; overflow-y: auto;">
                <table class="nt-scores-table">
                    <tbody>
                        @foreach (var item in Model.AvailableTags)
                        {
                            <tr class="nt-tr-score nt-tr-sortable">
                            <td class="nt-scores-table-firstcol">
                                <div class="nt-tag">
                                    <span>@item.Tag.TagName</span>
                                    <i class="icon-remove nt-tag-remove"></i>
                                </div>
                            </td>
                            <td class="nt-scores-table-avgcol nt-scores-table-selavgcol">
                                <span class="nt-selavg" style="display: none">25%</span>
                                <span class="nt-selavg-nat">1 / 4</span>
                            </td>
                            <td class="nt-scores-table-avgcol nt-scores-table-egavgcol">
                                <span class="nt-egavg" style="display: none">73%</span>
                                <span class="nt-egavg-nat">2.75 / 4</span>
                            </td>
                            <td class="nt-scores-table-avgcol nt-scores-table-avgdiffcol">
                                <span class="nt-avgdiff" style="display: none">-48%</span>
                                <span class="nt-avgdiff-nat">-1.75</span>
                            </td>
                            <td class="nt-scores-table-avgcol nt-scores-table-grpstdevcol">
                                <span class="nt-grpstdev" style="display: none">25%</span>
                                <span class="nt-grpstdev-nat">1</span>
                            </td>

                            <td class="nt-scores-table-boxplot">
                                <span class="nt-scores-table-boxplot-container">1,2,3,4,5,6,7,8,9,10</span>
                            </td>
                        </tr>    
                        }
                    </tbody>
                </table>
            </div>
            <table class="nt-scores-table nt-scores-table-footer">
                <tfoot>
                    <tr>
                        <td class="nt-scores-table-firstcol">OVERALL:</td>

                        <td class="nt-scores-table-avgcol nt-scores-table-selavgcol">
                            <span class="nt-selavg" style="display: none">13%</span>
                            <span class="nt-selavg-nat">2 / 16</span>
                        </td>
                        <td class="nt-scores-table-avgcol nt-scores-table-egavgcol">
                            <span class="nt-egavg" style="display: none">74%</span>
                            <span class="nt-egavg-nat">11 / 16</span>
                        </td>
                        <td class="nt-scores-table-avgcol nt-scores-table-avgdiffcol">
                            <span class="nt-avgdiff" style="display: none">-61%</span>
                            <span class="nt-avgdiff-nat">-9</span>
                        </td>
                        <td class="nt-scores-table-avgcol nt-scores-table-grpstdevcol">
                            <span class="nt-grpstdev" style="display: none">21%</span>
                            <span class="nt-grpstdev-nat">3.3</span>
                        </td>

                        <td class="nt-scores-table-boxplot"><span class="nt-scores-table-boxplot-container">1,2,3,4,5,6,7,8,9,10</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="nt-scores-footer">
         @*   <div class="notreptags">
                <div class="nt-tag-ph">Not Reported Tags</div>
                <div class="nt-tags">
                    <div class="nt-tag">
                        <span>presidents</span>
                        <i class="icon-remove nt-tag-remove"></i>
                    </div>
                </div>
            </div>*@
            <div class="scorecontrols">
                <button class="nt-btn-submit nt-btn-send">Send Scores...</button>
                <button class="nt-btn-text nt-btn-dl">Download</button>
            </div>
        </div>
    </div>
}