@model OATS_Capstone.Models.Test
@{
    var settingConfig = Model.SettingConfig;
    var groups = from settings in settingConfig.SettingConfigDetails
                 group settings by settings.SettingType.SettingGroupName into settingGroup
                 select new { GroupName = settingGroup.Key, Items = settingGroup };
    var authen = OATS_Capstone.Models.AuthenticationSessionModel.Instance();
    var isOwner = authen.UserId == Model.CreatedUserID;
    ViewBag.isOwner = isOwner;
}
<div class="nt-asm-settings" style="height: 400px; overflow-y: auto;">
    <div class="nt-panel">
        @foreach (var setting in groups)
        { 
            <div class="nt-section">
                <div class="nt-header">@setting.GroupName</div>
                <ul>
                    @{
            var sortedItems = setting.Items.OrderBy(k => k.SettingType.SettingInGroupOrder);
                    }
                    @foreach (var item in sortedItems)
                    {
                        <li>
                            @Html.Partial("P_SettingTab_ConfigDetail", item)
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
