@model OATS_Capstone.Models.Question

<div class="nt-qitem" question-type="Essay" question-id="@Model.QuestionID">
    <div class="nt-qnum "></div>
    <a class="nt-qanchor"></a>
    @{
        var detail = Model.Test.SettingConfig.SettingConfigDetails.FirstOrDefault(i => i.SettingType.SettingTypeKey == "SQP");
    }
    @if (detail.IsActive) 
    {
        <div class="nt-qmaxpts">@Model.NoneChoiceScore</div>
    }
    

    <div class="nt-qtext ">
        <p>@Model.QuestionTitle</p>
    </div>

    <div class="nt-qanscont nt-sortable"></div>
    <div class="nt-qmiddle">
        <div class="nt-format-hint" style="width: 710px;">(select text to format)</div>
        <div class="redactor_box">
            @Html.Partial("P_Editor_Toolbar")
            <div class="normal-editable nt-qrespinput nt-delayedblur redactor_editor" style="width: 696px; min-height: 92px;"></div>
        </div>
    </div>

    <div class="nt-qfoot">
        <div class="nt-qrep" style="display: none">
            <span>Correct:</span><span class="nt-crate"></span>
            <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs"></span>
        </div>
    </div>

</div>
