@model OATS_Capstone.Models.Question

<div class="nt-qitem" question-type="ShortAnswer" question-id="@Model.QuestionID">
    <div class="nt-qnum "></div>
    <a class="nt-qanchor"></a>
    @{
        var detail = Model.Test.SettingConfig.SettingConfigDetails.FirstOrDefault(i => i.SettingType.SettingTypeKey == "SQP");
    }
    @if (detail.IsActive) 
    {
        <div class="nt-qmaxpts">@Model.NoneChoiceScore</div>
    }
    

    <div class="nt-qtext ">
        <p>@Html.Raw(Model.QuestionTitle)</p>
    </div>
    <div class="nt-qanscont nt-sortable"></div>
    <div class="nt-qmiddle" style="">
        <input type="text" class="nt-qrespinput" value="" maxlength="140" style="width: 696px;"/>
    </div>

    <div class="nt-qfoot">
        <div class="nt-qrep" style="display: none">
            <span>Correct:</span><span class="nt-crate"></span>
            <span>Pbs:</span><span class="nt-pbs"></span>
        </div>
    </div>

</div>
