@model OATS_Capstone.Models.IUserItem
<div class="nt-clb-item nt-clb-item-multi nt-clb-item-sel">
    <div class="nt-clb-item-control">
        <input type="checkbox" checked="checked" user-id="@Model.UserID" />
    </div>
    <div class="nt-clb-item-content">
        <div class="nt-clb-item-label">@Model.UserLabel</div>
        <div class="nt-clb-item-desc">@Model.UserPercent</div>
    </div>
</div>
