<div id="emailInputModal" class="modal hide fade">
    @if (!String.IsNullOrEmpty(ViewBag.Role))
    { 
        <input type="hidden" id="role" value="@ViewBag.Role" />
    }
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Specify Info</h3>
    </div>
    <div class="modal-body">

        <input id="nameInput" type="text" class="span2" placeholder="Name" required="" />
        <input id="emailInput" type="text" class="span3" placeholder="Email Address" required="" />
        <p id="emailInputError" class="help-inline hide"></p>
    </div>
    <div class="modal-footer">
        <a id="emailInputOk" href="#" class="btn btn-primary">Create</a>
        <a href="#" data-dismiss="modal" class="btn">Cancel</a>
    </div>
</div>
