@model OATS_Capstone.Models.User
<div class="nt-clb-item nt-clb-item-multi" user-id="@Model.UserID">
    <div class="nt-clb-item-content ">
        <div class="nt-clb-item-label">
            <span>@(string.IsNullOrEmpty(Model.Name) ? "N/A" : Model.Name)</span>
        </div>
        <div class="nt-clb-item-desc">@Model.UserMail</div>
    </div>
    @if (!Model.IsRegistered)
    { 
        <div class="nt-clb-item-control button">
            <button user-id="@Model.UserID" class="btn-remove-invite">
                <i class="icon-remove"></i>
            </button>
        </div>
    }
</div>
